{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
			
	<section class="content-inner-2">
		<div class="container">			
			<div class="row ">
				<div class="col-xl-8 col-lg-8 m-b30">
					<div class="dz-card blog-single sidebar">
						<div class="dz-media">
							<img src="{{news.photo.url}}" alt="">
						</div>
						<div class="dz-info">
							<div class="dz-meta">
								<ul>
									<li class="post-date"><i class="fa-solid fa-calendar-days"></i> {{news.created_date}}</li>
								</ul>
							</div>
							<div class="dz-post-text">
								<h1 class="dz-title">{{news.title}}</h1>
								<p>{{news.content}}</p>
								
								
								<!-- <blockquote class="block-quote style-1">
									<p>“You can make anything look good. Only a quarter of young adults are financially literate. You don’t want to overwhelm them with terrible advice.”</p>
									<cite> Akcel </cite>
								</blockquote> -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
